@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #102b3e;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #ff4d05;
    --big-font: 3.5rem;
    --h2-font: 2rem;
    --p-font: 1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0,.1);
    padding: 22px 5%;
    border-bottom: 1px solid transparent;
    transition: all ease .4s;
}

.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

span{
    color: var(--main-color);
}

.navlist{
    display: flex;
}

.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0px 25px;
    transition: all ease .5s;
}

.navlist a:hover{
    color: var(--main-color);
}

.navlist a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section{
    padding: 125px 10% 100px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide{
    margin-bottom: 20px;
}

.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0px 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}
.two{
    display: inline-block;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0px 0px 8px;
}

.home-text h3{
    color: var(--text-color);
    margin: 0px 0px 35px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
}

.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-1{
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all ease .45s;
}
.btn-1 i{
    color: var(--text-color);
    font-size: 25px;
    transition: all ease .4s;
}
.btn-1:hover{
    transform: scale(.9);
}
.btn-2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 35px;
}

.btn-2 span i{
    height: 55px;
    width: 55px;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 14px;
    transition: all ease .4s;
}

.btn-2 span i:hover{
    transform: scale(1.1);
}

header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    background: #1d374cc2;
}

.about-img img{
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.about-text h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
    text-transform: capitalize;
}

.service{
    background: #102b3e;
    text-transform: capitalize;
}

.main-text{
    text-align: center;
}

.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.srv-cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box{
    background: #5f789644;
    padding: 25px 20px;
    border-radius: 8px;
    transition: all ease .4s;
}
.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

.box h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}

.box p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;

}
.s-icons i{
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--second-color);
}

.read{
    display: inline-block;
    padding: 8px 18px;
    background: #bad6e0a6;
    color: #102b3e;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all ease .4s;
}

.read:hover{
    color: var(--text-color);
    transform: scale(1.1);
    background: #ffffff68;
    letter-spacing: 1px;
}
.project{
    background: #1a3449;
}
.project-cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.row{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-transform: capitalize;
    transition: all ease .5s;
}

.row img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: all ease .5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#db6b49);
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 40px;
    transition: height 0.5s;
}

.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
}

.layer i{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img{
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100%;
}

.contact{
    background-color: #102b3e;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
    text-transform: capitalize;
}

.contact-text h4{
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 18px;
}

.list{
    margin-bottom: 2.8rem;
}

.list li{
    margin-bottom: 12px;
}
.list li a{
    display: block;
    font-size: 15px;
    color: var(--second-color);
    transition: all ease .5s;
}

.list li a:hover{
    color: var(--text-color);
    transform: translateX(5px);
}
 .contact-icon i{
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    margin-left: 15px;
    transition: all ease .4s;
}
.contact-icon i:hover{
    transform: scale(1.1);
    color: var(--second-bg-color)
}

.contact-form form{
    position: relative;
}

.contact-form form input, form textarea{
    width: 100%;
    padding: 14px;
    background: #1a3449;
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contact-form textarea{
    resize: none;
    height: 240px;
}

.contact-form .submit{
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    margin-top: 10px;
    transition: all ease .5s;
}

.contact-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.end{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background: #1a3449;
    text-transform: capitalize;
}

.last-text  p{
    color: var(--second-color);
    font-size: 15px;
}

.top i{
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    color: var(--text-color);
    background: var(--main-color);
    transition: all ease .45s;
}

@media(max-width: 1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }
    header.sticky{
        padding: 10px 2.5%;
        transition: .1s;
    }
}